<div layout="vertical" layout-fill>

  <md-content>
    <!--<header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>-->

    <section class="jumbotron">
      <h1>Biblioteca IMG</h1>
      <div class="box">
              <div class="container-1">
                  <span class="icon"><i class="fa fa-search"></i></span>
                  <input id="search" placeholder="Pesquisar..." ng-model="searchText"/>
              </div>
        </div>
    </section>

    <div class="category" ng-repeat="category in main.categories">
      <div class="category title">
        <h2>{{category}}</h2>
        <hr>
      </div>
      <div class="techs" layout-align="center">
        <md-card ng-repeat="awesomeThing in main.awesomeThings | filter:{'Category':category}">
          <md-card-content>
            <img class="pull-right" ng-src="{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <h3 class="md-title">{{ awesomeThing.title }}</h3>
            <p>{{ awesomeThing.description }}</p>
          </md-card-content>
          <md-chips>
          </md-chips>
          <md-chips ng-model="awesomeThing.tags" readonly="true">
            <md-chip-template>
                {{$chip}}
            </md-chip-template>
          </md-chips> 
          <div class="md-action-buttons">
            <md-button ng-href="{{ awesomeThing.url }}">Download</md-button>
          </div>
        </md-card>
      </div>
    </div>
  </md-content>

</div>
